{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key" : {
    "clubId": $util.dynamodb.toDynamoDBJson($ctx.args.clubId),
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "createdAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    "description": $util.dynamodb.toDynamoDBJson($ctx.args.input.description),
    "feed": $util.dynamodb.toDynamoDBJson($ctx.args.input.feed),
    "image": $util.dynamodb.toDynamoDBJson($ctx.args.input.image),
    "link": $util.dynamodb.toDynamoDBJson($ctx.args.input.link),
    "name": $util.dynamodb.toDynamoDBJson($ctx.args.input.name),
    "publishDate": $util.dynamodb.toDynamoDBJson($ctx.args.input.publishDate),
    "title": $util.dynamodb.toDynamoDBJson($ctx.args.input.title)
  }
}
